<h1>Portfolio Items</h1>

<%# The next section is embedded ruby (which is what erb stand for) %>
<% @portfolio_items.each do |portfolio_item| %>
  <p><%= portfolio_item.title%></p>
  <p><%= portfolio_item.subtitle%></p>

  <p><%= portfolio_item.body%></p>

  <%= image_tag portfolio_item.thumb_image%>

<% end %>